.sconf_temp
.sconsign.dblite
.vscode/
build/release/
dist/
scene/
data/scons/detect_python.pyc
pyscript/*.pyc
pyscript/__pycache__
data/ior_rgb/*
data/ior_rgb_normalized/*
config.log
mitsuba.*.log
experiment/time_sigmaT/image
experiment/time_sigmaT/spp64_box
